.header .container, .about .container, .skills .container, .portfolio .container, .footer .container {
  margin-left: 165px;
  margin-top: 93px;
  position: absolute;
}

.header__top, .header__top-menu, .skills__inner, .skills__table-row, .portfolio__slide, .portfolio__album, .portfolio__nav, .footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title, .header__top-link, .header__bottom, .about__text, .skills__table, .portfolio__slide-inner, .footer__link {
  font-family: Libre Franklin;
  font-style: normal;
}

body,
html {
  padding: 0px;
  margin: 0px;
}

:focus {
  outline: none;
}

#page-wrap {
  width: 1440px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.title--white {
  color: #fff;
}

.header {
  width: 1440px;
  height: 768px;
  background-image: url(../src/img/bg.png);
  background-size: 1440px auto;
}

.header__background {
  position: absolute;
  width: 1440px;
  height: 768px;
  background-color: #C66C49;
  opacity: 0.3;
}

.header__top {
  width: 1109px;
  height: 29px;
  align-items: baseline;
}

.header__top-menu {
  width: 529px;
  height: 22px;
}

.header__top-link {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.header__top-link--active {
  font-weight: bold;
}

.header__bottom {
  margin-top: 145px;
  width: 694px;
  height: 261px;
  color: #fff;
}

.header__bottom-title {
  font-size: 64px;
  line-height: 78px;
}

.header__bottom-text {
  margin-top: 26px;
  margin-bottom: 106px;
  font-size: 24px;
  line-height: 29px;
}

.header__bottom-link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration-line: underline;
}

.about {
  width: 1440px;
  height: 544px;
  background-color: #fff;
}

.about__text {
  width: 1107px;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  text-align: justify;
  margin-top: 76px;
}

.about__text-part {
  margin-bottom: 30px;
}

.skills {
  width: 1440px;
  height: 693px;
  background-color: #FFFAF2;
}

.skills__inner {
  margin-top: 86px;
}

.skills__photo {
  background-color: #C66C49;
  width: 350px;
  height: 340px;
}

.skills__photo-img {
  width: 350px;
  height: 340px;
}

.skills__table {
  margin-left: 125px;
}

.skills__table-row {
  justify-content: flex-start;
  margin-bottom: 20px;
}

.skills__table-body {
  margin-top: 65px;
}

.skills__table-item {
  width: 123px;
  margin-right: 66px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.skills__table-text {
  font-size: 18px;
  line-height: 25px;
}

.skills__table-graph {
  background-color: #F5D6AB;
  width: 446px;
  height: 24px;
}

.skills__table-value {
  background-color: #C66C49;
  height: 24px;
}

.skills__table-value--ux {
  width: 381px;
}

.skills__table-value--ui {
  width: 351px;
}

.skills__table-value--fed {
  width: 286px;
}

.portfolio {
  width: 1440px;
  height: 882px;
  background-color: #fff;
}

.portfolio__slide {
  justify-content: flex-start;
  margin-top: 86px;
}

.portfolio__slide-inner {
  width: 349px;
  height: 210px;
  color: #333333;
}

.portfolio__slide-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.portfolio__slide-text {
  margin-top: 48px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

.portfolio__album {
  width: 635px;
  margin-left: 125px;
  margin-top: 54px;
}

.portfolio__album-col {
  margin-right: 30px;
}

.portfolio__nav {
  position: absolute;
  margin-top: 653px;
  margin-left: 189px;
  width: 62px;
}

.portfolio__nav-cevron {
  width: 24px;
  height: 24px;
  align-items: center;
}

.portfolio__nav-cevron--right {
  transform: rotate(90deg);
}

.portfolio__nav-cevron--left {
  transform: rotate(270deg);
}

.ux__img {
  background-color: #C66C49;
  margin-bottom: 26px;
  margin-top: 0px;
}

.ux__img--one {
  width: 350px;
  height: 144px;
}

.ux__img--two {
  width: 350px;
  height: 233px;
}

.ux__img--three {
  width: 255px;
  height: 233px;
}

.ux__img--four {
  width: 255px;
  height: 144px;
}

.footer {
  width: 1440px;
  height: 528px;
  background-color: #FFFAF2;
}

.footer__links {
  margin-top: 51px;
  width: 928px;
}

.footer__links-column {
  display: flex;
  flex-direction: column;
}

.footer__link {
  text-decoration: none;
  color: #333333;
  margin-bottom: 14px;
}

.footer__nav {
  position: absolute;
  margin-left: 1238px;
  margin-top: 434px;
  width: 24px;
  height: 24px;
  align-items: center;
}
